.card {
    width: 750px;
    height: 395px;
    position: relative;
    padding: 45px;
    background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #FFFFFF;
    box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
    margin: 0 auto;
    margin-top: 70px;
}

body {
    font-family: calibri;
}

.card:hover {
    transform: scale(1.05);
}

.container {
    width: 750px;
    height: 750px;
    position: absolute;
    right: -35px;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.7);
}

.cloud {
    width: 650px;
    margin-bottom: 600px;
}

.front {
    padding-top: 345px;
    margin-left: 925px;
    display: inline;
    position: absolute;
    z-index: 11;
    animation: clouds 8s infinite;
    animation-timing-function: ease-in-out;
}

.about span:nth-child(1) {
    font-size: 40px;
}


.back {
    width: 400px;
    margin-left: 200px;
    margin-top: 300px;
    z-index: 12;
    animation: clouds 12s infinite;
    animation-timing-function: ease-in-out;
}

.right-front {
    width: 145px;
    height: 145px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -25px;
    z-index: 5;
}

.left-front {
    width: 165px;
    height: 165px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
}

span {
    font-size: 50px;
}

.right-back {
    width: 150px;
    height: 150px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
    margin-left: -30px;
}

.left-back {
    width: 130px;
    height: 130px;
    border-radius: 100% 100% 50% 100%;
    background-color: #4c9beb;
    display: inline-block;
}

.sun {
    width: 220px;
    height: 220px;
    background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
    background: linear-gradient(to right, #fcbb04, #fffc00);
    border-radius: 160px;
    display: inline;
    position: absolute;
    margin-bottom: 600px;
    margin-left: 400px;
}

.sunshine {
    animation: sunshines 2s infinite;
}

@keyframes sunshines {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes clouds {
    0% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(15px);
    }
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-header span:first-child {
    word-break: break-all;
    font-weight: 800;
    font-size: 15px;
    line-height: 135%;
    color: rgba(87, 77, 51, 0.66);
}

.card-header span:last-child {
    font-weight: 700;
    font-size: 15px;
    line-height: 135%;
    color: rgba(87, 77, 51, 0.33);
}

.input {
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    outline: none;
    margin: 0 auto;
    margin-left: 700px;
    font-family: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.finding {
    justify-content: center;
    display: flex;
    align-items: center;
}

.search {
    width: 50px;
    color: #000000;
    position: absolute;
    background-color: transparent;
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 34px;
    left: 913px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.search:hover {
    background-color: #a3a1a1;
    color: #fff;
}

.about {
    display: flex;
    flex-direction: column;
}

.temp {
    position: absolute;
    left: 25px;
    bottom: 12px;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: rgba(87, 77, 51, 1);
}

.temp-scale {
    width: 80px;
    height: 36px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 9px;
}

.temp-scale span {
    font-weight: 700;
    font-size: 13px;
    line-height: 134.49%;
    color: rgba(87, 77, 51, 0.66);
}